/first class/nbproject/private/
/first class/build/
/first class/dist/
/2nd Class/nbproject/private/
/2nd Class/build/
/Calculate Area of Circle/nbproject/private/
/compute loan/nbproject/private/
/compute loan/build/
/calculate loan/nbproject/private/
/calculate area/nbproject/private/
/calculate area/build/
/area of triangle/nbproject/private/
/area of triangle/build/
/Home Work-1/nbproject/private/
/Home Work-1/build/
/create calculator using switch/nbproject/private/
/create calculator using switch/build/
/vowelconsonant using switch/nbproject/private/
/Game/nbproject/private/
/Game/build/
/vowelconsonant using switch/build/
/Learn String/nbproject/private/
/Learn String/build/
/Loops/nbproject/private/
/Loops/build/
/JavaApplication12/nbproject/private/
/JavaApplication12/build/
/PrimeNumberUsingForLoop/nbproject/private/
/PrimeNumberUsingForLoop/build/
/UseContinue/nbproject/private/
/LearnMethod/nbproject/private/
/LearnMethod/build/
/Prime Number Using Method/nbproject/private/
/Prime Number Using Method/build/
/max-min among 5 number/nbproject/private/
/max-min among 5 number/build/
/fibonacci/nbproject/private/
/factorial/nbproject/private/
/MultiDimentionalArray/nbproject/private/
/MultiDimentionalArray/build/
/fibonacci/build/
/factorial/build/
/ArrayPrac/nbproject/private/
/ArrayPrac/build/
/learnclassandobject/nbproject/private/
/PracticalExam/nbproject/private/
/PracticalExam/build/
/PractiseForXm/nbproject/private/
/PractiseForXm/build/
/SumWithoutNegative/nbproject/private/
/SumWithoutNegative/build/
/CreateClass/nbproject/private/
/CreateClass/build/
/LargeFactorial/nbproject/private/
/LargeFactorial/build/
/LearnInheritence/nbproject/private/
