/first class/nbproject/private/
/first class/build/
/first class/dist/
/2nd Class/nbproject/private/
/2nd Class/build/
/Calculate Area of Circle/nbproject/private/
/compute loan/nbproject/private/
/compute loan/build/
/calculate loan/nbproject/private/
